<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script type="text/javascript" th:src="@{js/dropdownlist.js}"></script>
 <script type="text/javascript" src="/js/statecitylist.js"></script> 
</head>
<body>
   <!--  <script type="text/javascript">
    $(document).ready(function(){
    	
    	$('#countryid').on('change', function(){
    		
    		var countryId = $('#countryid').val();
    		
    		$.ajax({
    			type: 'GET',
    			contentType : "application/json",
    			url: '/loadStatesByCountry/' + countryId,
    			success: function(result) {
    				var result = JSON.parse(result);
    				var s = '';
    				for(var i = 0; i < result.length; i++) {
    					
    					s += '<option value="' + result[i].id + '">' + result[i].state_name + '</option>';
    				}
    				$('#statebox').html(s);
    			}
    		});
    	});

    	$('#statebox').on('change', function(){
    		var stateId = $('#statebox').val();
    		$.ajax({
    			type: 'GET',
    			contentType : "application/json",
    			url: '/loadCitiesByState/' + stateId,
    			success: function(result) {
    				var result = JSON.parse(result);
    				var s = '';
    				for(var i = 0; i < result.length; i++) {
    					s += '<option value="' + result[i].id + '">' + result[i].city_name + '</option>';
    				}
    				$('#comboboxCity').html(s);
    			}
    		});
    	});
    	
    	
    	$('#citybyid').on('change', function(event){
    		event.preventDefault();
    		var stateId = $('#citybyid').val();
    		$.ajax({
    			type: 'GET',
    			contentType : "application/json",
    			url: '/getCityById/' + stateId,
    			success: function(result) {
    				var result = JSON.parse(result);
    				var s = '';
    				
    					s += '<option value="' + result.id + '">' + result.city_name + '</option>';
                            
    				
    				$('#cityid').html(s);
    			}
    		});
    	});

    });

    </script> -->
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">SpringBoot</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link" href="#">Home
						<span class="sr-only">(current)</span>
				</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/403}">Gallary</a>
				</li>
				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
					role="button" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false"> Login </a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item ev" href="#">SignIn</a> <a
							class="dropdown-item sign-up" th:href="@{/login}">SignUp</a> <a
							class="dropdown-item" th:href="@{/logout}">Logout</a> <a
							class="dropdown-item" th:href="@{/product}">List Of Product</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/403}">ContactUs</a>
				</li>
			</ul>
			<form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="search"
					placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			</form>
		</div>
	</nav>
	<div class="container">
		<h2 id="pr" style="text-align: center; color: red">User List</h2>
		<h4 th:text="${login}" class="text-success"
			style="text-align: center;"></h4>
		<div sec:authorize="isAuthenticated()"
			style="text-align: center; color: blue">
			Welcome <b><span id="us" sec:authentication="name">Username</span></b>
			&nbsp; <i><span sec:authentication="principal.authorities">Roles</span></i>
		</div>
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6">
			 <form th:action="@{/save}" method="post">
						<div class="form-group">
							<input type="hidden" class="form-control" id="editid" name="id">
						</div>
						<div class="form-group">
							<label for="pname" class="col-form-label">User Name:</label> <input
								type="text" class="form-control" id="editusername"
								name="username" th:value="${username}">
						</div>
						<div class="form-group">
							<input type="hidden" class="form-control" id="password"
								name="password" th:value="${password}">
						</div>
						<div class="form-group">
							<label for="roles">Roles:</label> <select id="role" name="role"
								class="form-control">
								<option value="#">-----Select Roles-----</option>
								<option th:value="USER">USER</option>
								<option th:value="EDITOR">EDITOR</option>
							</select>
						</div>
						<div class="form-group">
							<label for="country_Name" class="col-form-label">Country:</label>
								<select id="countryid" name="" class="form-control">
								  <option value="#">-------Select Country------</option>
								  <tr th:each="country :${countries}">
								    <option th:value="${country.id}">[[${country.country_Name}]]</option>
								   </tr>
								</select>
						</div>
						<div class="form-group">
						 <input
								type="hidden" class="form-control" id=""
								name="country_code">
						</div>
						<div class="form-group">
							<label for="state_name">State:</label> 
							<select id="statebox" name="state_name" class="form-control">
							 <option value="#">-----Select State-----</option>
							</select>							
						</div>	
						<div class="form-group">
							<label for="city_name" class="col-form-label">City:</label> 
							<select id="comboboxCity" class="form-control" name="city_name">
							</select>	
						</div>
						
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-primary">Update</button>
					</div>
		</form>
			</div>
			<div class="col-md-3"></div>
		</div>
	</div>

     <script type="text/javascript">
       $(document).ready(function(){
    	   $('#st').on('click',function(){
    		   var state=$('#role1').val();
    		   alert(state);
    	   });
       });
     </script>
</body>
</html>