<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>	
</head>
<body>
  <script type="text/javascript">
  $(document).ready(function(){
  	//After Login Sign-In dropdown lable will be disable
  	 var user=$('#us').html();
  	 var role=$('#role').html();
  	 if(user!=null){
  		 $('.ev').hide();
  		 $('.sign-up').hide();
  	 }
  	 else
  	 {
  		 $('.ev').show(); 
  	 }
  	 // Only Admin can see USER List
  	 if(role=='[USER]' || role=='[EDITOR]'){
  		 $('.user-list').hide();
  	 }
  	 else
  	 {
  		 $('.user-list').show(); 
  	 }
  
  });
  </script>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">SpringBoot</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link" th:href="@{product}">Home
						<span class="sr-only">(current)</span>
				</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/403}">Gallary</a>
				</li>
				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
					role="button" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false"> Login </a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item ev" href="#">SignIn</a> <a
							class="dropdown-item sign-up" th:href="@{/login}">SignUp</a>
							<a class="dropdown-item">
							<span style="color: blue" id="us" sec:authentication="name">Username</span>
							<span id="role" sec:authentication="principal.authorities">Roles</span>
							</a>
							<a
							class="dropdown-item user-list" th:href="@{/product}">List Of Product</a>
							 <a
							class="dropdown-item" th:href="@{/logout}">Logout</a>
							</li>
				<li class="nav-item"><a class="nav-link" th:href="@{/403}">ContactUs</a>
				</li>
			</ul>
			<form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="search"
					placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			</form>
		</div>
	</nav>
	<div class="container">
		<h2 style="text-align: center; color: gray">User Update Form</h2>
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6">
				<form th:action="@{/updateU}" method="post">
					<div class="form-group">
						<input type="hidden" class="form-control" id="id" name="id"
						th:value="${u.id}">
					</div>
					<div class="form-group">
						<label for="username">User Name:</label> <input type="text"
							class="form-control" id="username" placeholder="Enter User name"
							name="username" th:value="${u.username}">
					</div>
					<div class="form-group">
						<input type="hidden"
							class="form-control" id="password" name="password" th:value="${u.password}">
					</div>
					 <div class="form-group">
						<label for="roles">Roles:</label> 
						<select id="role" name="role" class="form-control">
						  <option value="#">-----Select Roles-----</option>
						  <option th:value="USER">USER</option>
						  <option th:value="EDITOR">EDITOR</option>
						</select>
					</div>
					<div class="checkbox">
						<label><input type="checkbox" name="remember">
							Remember me</label>
					</div>
					<button type="submit" class="btn btn-primary">Update</button>
				</form>
			</div>
			<div class="col-md-3"></div>
		</div>
	</div>
</body>
</html>