<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/dropdownlist.js"></script>
<script type="text/javascript" src="/js/user.js"></script>
<script type="text/javascript" src="/js/statecitylist.js"></script> 
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">SpringBoot</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link" href="#">Home
						<span class="sr-only">(current)</span>
				</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/403}">Gallary</a>
				</li>
				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
					role="button" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false"> Login </a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item ev" href="#">SignIn</a> <a
							class="dropdown-item sign-up" th:href="@{/login}">SignUp</a> <a
							class="dropdown-item" th:href="@{/logout}">Logout</a> <a
							class="dropdown-item" th:href="@{/product}">List Of Product</a>
							<a
							class="dropdown-item" th:href="@{/ajaxwish}">Ajax Page</a>
							</li>
				<li class="nav-item"><a class="nav-link" th:href="@{/403}">ContactUs</a>
				</li>
			</ul>
			<form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="search"
					placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			</form>
		</div>
	</nav>
	<div class="container">
		<h2 id="pr" style="text-align: center; color: red">User List</h2>
		<h4 th:text="${login}" class="text-success"
			style="text-align: center;"></h4>
		<div sec:authorize="isAuthenticated()"
			style="text-align: center; color: blue">
			Welcome <b><span id="us" sec:authentication="name">Username</span></b>
			&nbsp; <i><span sec:authentication="principal.authorities">Roles</span></i>
		</div>
		&nbsp;
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>ID:</th>
					<th>USERNAME:</th>
					<th>ROLES:</th>
					<th sec:authorize="hasAnyAuthority('ADMIN','EDITOR')">Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="prod : ${plist}">
					<td th:text="${prod[0]}"></td>
					<td th:text="${prod[1]}"></td>
					<td th:text="${prod[3]}"></td>
					<td sec:authorize="hasAnyAuthority('ADMIN')"><a
						th:href="@{/userUpdateById/(id=${prod[0]})}"
						class="btn btn-primary eBtn">Edit</a> <a
						sec:authorize="hasAuthority('ADMIN')"
						th:href="@{/deleteuser/(id=${prod[0]})}"
						class="btn btn-danger dBtn">Delete</a></td>
				</tr>
			</tbody>
		</table>
	</div>

	<!--   edit model -->
	 <div class="modal fade" id="editModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<form th:action="@{/updateU}" method="post">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Edit User</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
					 <form>
		<table width="100%">
			<tr>
				<td width="50%" style="padding-bottom:95px">
						<div class="form-group">
							<input type="hidden" class="form-control" id="editid" name="id">
						</div>
						<div class="form-group">
							<label for="pname" class="col-form-label">User Name:</label> <input
								type="text" class="form-control" id="editusername"
								name="username" th:value="${username}">
						</div>
						<div class="form-group">
							<input type="hidden" class="form-control" id="password"
								name="password" th:value="${password}">
						</div>
						<div class="form-group">
							<label for="roles">Roles:</label> <select id="role" name="role"
								class="form-control">
								<option value="#">-----Select Roles-----</option>
								<option th:value="USER">USER</option>
								<option th:value="EDITOR">EDITOR</option>
							</select>
						</div>
		
						<!-- <div class="form-group">
							<label for="country_Name" class="col-form-label">Country:</label>
								<select id="countryid" name="" class="form-control">
								  <option value="#">-------Select Country------</option>
								  <option th:value="1">India</option> 
								</select>
						</div> -->
						</td>
				<td width="50%" style="padding-left:10px;">
						<!-- <div class="form-group">
							<label for="country_code" class="col-form-label">Country Code:</label> <input
								type=text class="form-control" id=""
								name="country_code" th:value="${country_code}">
						</div> -->
						<div class="form-group">
							<label for="country_Name" class="col-form-label">Country:</label>
								<select id="countryid" name="" class="form-control">
								  <option value="#">-------Select Country------</option>
								  <option th:value="1">India</option> 
								</select>
						</div>
						<div class="form-group">
							<label for="state_name">State:</label> 
							<select id="statebox" name="state_name" class="form-control">
							 <option value="#">-----Select State-----</option>
							</select>							
						</div>	
						<div class="form-group">
							<label for="city_name" class="col-form-label">City:</label> 
							<select id="comboboxCity" class="form-control" name="city_name">
							</select>	
						</div>
						</td>
			</tr>			
		</table>
		 <hr>
		</form>
						</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-primary">Update</button>
					</div>
				</div>
			</div>
		</form>
	</div> 
	<!-- edit model ends -->
	<!--  delete Model start -->
		<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title text-danger" id="exampleModalLabel">Delete
							User</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<p class="alert alert-danger">Are You Sure You Want To Delete the User</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<a href="" class="btn btn-danger" id="delBtn">Delete</a>
					</div>
				</div>
			</div>
		</div>
		<!-- delete model ends -->
</body>
</html>