<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/dropdownlist.js"></script>		
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">SpringBoot</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link" href="#">Home
						<span class="sr-only">(current)</span>
				</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/403}">Gallary</a>
				</li>
				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
					role="button" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false"> Login </a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item ev" href="#">SignIn</a> <a
							class="dropdown-item sign-up" th:href="@{/login}">SignUp</a> <a
							class="dropdown-item" th:href="@{/logout}">Logout</a>
							<a
							class="dropdown-item" th:href="@{/product}">List Of Product</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/403}">ContactUs</a>
				</li>
			</ul>
			<form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="search"
					placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			</form>
		</div>
	</nav>
	<div class="container">
		<h2 id="pr" style="text-align: center;color: red">User List</h2>
		<h4 th:text="${login}" class="text-success"
			style="text-align: center;"></h4>
		<div sec:authorize="isAuthenticated()"
			style="text-align: center; color: blue">
			Welcome <b><span id="us" sec:authentication="name">Username</span></b> &nbsp;
			<i><span sec:authentication="principal.authorities">Roles</span></i>
		</div>&nbsp;
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>ID:</th>
					<th>USERNAME:</th>
					<th>ROLES:</th>
					<th sec:authorize="hasAnyAuthority('ADMIN','EDITOR')">Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="prod : ${plist}">
					<td th:text="${prod[0]}"></td>
					<td th:text="${prod[1]}"></td>
					<td th:text="${prod[3]}"></td>
					<td sec:authorize="hasAnyAuthority('ADMIN')"><a
						th:href="@{/userUpdateById/(id=${prod[0]})}"
						class="btn btn-primary eBtn">Edit</a> <a
						sec:authorize="hasAuthority('ADMIN')"
						th:href="@{/deleteuser/(id=${prod[0]})}" class="btn btn-danger dBtn">Delete</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>